@page
@model BookList.Pages.BList.UpsertModel

<br />
<h2 class="text-info">@(Model.Book.id!=0? "Edit" : "Create")Edit New Book</h2>
<br />

<div class="border container" style="padding:30px">
    <form method="post">
        @if (Model.Book.id != 0)
        {
            <input type="hidden" asp-for="Book.id" />
        }
        <input type="hidden" asp-for="Book.id" /> @*get ค่า id ที่เป็น input ส่งไปที่ส่วนแสดงผล*@
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Book.Name"></label>
            </div>
            <div class="col-6">
                <input asp-for="Book.Name" class="form-control" />
            </div>
            <span asp-validation-for="Book.Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Book.Author"></label>
            </div>
            <div class="col-6">
                <input asp-for="Book.Author" class="form-control" />
            </div>

        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Book.ISBN"></label>
            </div>
            <div class="col-6">
                <input asp-for="Book.ISBN" class="form-control" />
            </div>

        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <button type="submit" class="btn btn-primary form-control">@(Model.Book.id!=0? "Update" : "Create")</button>
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>

        @*เป็นการเรียกใช้ vallidate ให้ปุ่ม cusor กลับไปที่ตัว required*@
        @section Scripts{
            <partial name="_ValidationScriptsPartial" />
        }
    </form>
</div>


